{% extends "base.html" %}
{% block head %}
{% load staticfiles %}
<script src="{% static 'scripts/drawv5.js' %}"></script>
<script src="{% static 'scripts/viewcontrols.js' %}"></script>
{% endblock %}


{% block content %}

<div id="viewcontainer">
    <section id="viewlayers">
        {% if layers %}
            <ul>
            {% for layer in layers %}
                <li><div data-item-index="{{layer.id}}" class="layer">{{ layer.name }}</div></li>
            {% endfor %}
            </ul>
        {% endif %}
        
    </section>
    
    <section id="maincanvas">
    
    </section>
    <section id="canvas_nav">
        {% if next > 0 %}
            <a class="next_image" href="/canvas/project/1/part/1/view/image/{{next}}">Next</a> 
        {% endif %}
        {% if prev > 0 %}
            <a class="next_image" href="/canvas/project/1/part/1/view/image/{{prev}}">Prev</a> 
        {% endif %}
    </section>
    <section id="bottomdetails">
        <div id="detailname"></div>
        <div id="detaildetails"></div>
    </section>
    
</div>

<script>
$(document).ready(function() {
    setBackground("/canvas/media/{{image}}", {{image.id}});
    //var layers = []
    //var layerlist = []
     //{% if layers %}
        //var i = 0;
            //{% for layer in layers %}
                //layers[i] = {"id":"{{layer.id}}","name":"{{ layer.name }}","description":"{{layer.description}}","type":"{{layer.type}}","layerdata":{{layer.layerdata|safe}} }
                //layerlist[i] = {{layer.id}}
               // i++;
            //{% endfor %}
      //  {% endif %}
        
    
});
</script>

{% endblock %}